<div class="todos-list">
  <div class="alert alert-success my-4" *ngIf="message">{{message}}</div>
  <!-- <div class="alert alert-success" *ngFor = "let data of datas">{{data[message]}}></div> -->
  <table *ngIf="haveTodos() else elseBlock" class="table my-4">
    <thead>
      <tr>
        <th>id</th>
        <th>description</th>
        <th>target date</th>
        <th>done?</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="my-4">
      <tr *ngFor="let todo of todos">
        <td>{{todo.id}}</td>
        <td>{{todo.description }}</td>
        <td>{{todo.targetDate | date}}</td>
        <td *ngIf="todo.done else elseBlock">✔</td>
        <ng-template #elseBlock><td>❌</td></ng-template>
        <td><button (click)="handleUpdate(todo.id)" class="btn btn-info">Update</button></td>
        <td><button (click)="deleteTodo(todo.id)" class="btn btn-danger ">Delete</button></td>
      </tr>
    </tbody> 
  </table>
  <ng-template #elseBlock><h4 class="text-center my-4">You have nothing planned!</h4></ng-template>
  <button (click)="addTodo()" class="btn btn-warning my-4 mx-auto">Add a Todo</button>
</div>
