<div class="alert alert-success" *ngIf="message">{{message}}</div>
<table class="table m-4">
  <thead>
    <tr>
      <th>id</th>
      <th>description</th>
      <th>target date</th>
      <th>done?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="m-4">
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.description }}</td>
      <td>{{todo.targetDate | date}}</td>
      <td *ngIf="todo.done else elseBlock">✔</td>
      <ng-template #elseBlock><td>❌</td></ng-template>
      <td><button class="btn btn-info">Update</button></td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-danger ">Delete</button></td>
    </tr>
  </tbody> 
</table>

